@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos{
    margin: 5rem 0 5rem 0;
    .listado-iconos{
        @include m.tablet{
            @include m.grid(3, 1rem);
        }

        li{

            img{
                margin: 0 auto;
                width: 12rem;
            }

            p{
                font-family: v.$fuenteCursiva;
                font-size: 3.2rem;
                color: v.$primario;
            }
        }
       
    }
}